# We want to make sure any changes to workflows are closely monitored, as they may have non-obvious
# security implications.
#
# See https://securitylab.github.com/research/github-actions-preventing-pwn-requests/
/.github/workflows/ @devinrsmith @jcferretti @JamesXNelson @rcaudy

/CODE_OF_CONDUCT.md @chipkent @rcaudy
/CONTRIBUTING.md @chipkent @rcaudy
/LICENSE.md @chipkent @rcaudy
/NOTICE.md @chipkent @rcaudy
/README.md @chipkent @rcaudy @margaretkennedy
/RELEASE.md @devinrsmith @jcferretti @stanbrub
/TRIAGE.md @chipkent @rcaudy
/licenses @chipkent @rcaudy
/docker @devinrsmith @jcferretti @rcaudy
/engine/function/ @chipkent @kosak @rcaudy @cpwright
/py @chipkent @jmao-denver @rcaudy @cpwright
/R @chipkent @rcaudy @cpwright @kosak
*.proto @devinrsmith @niloc132 @rcaudy @cpwright
*.gwt.xml @niloc132 @rcaudy @cpwright
/docs/**/*.md @margaretkennedy @elijahpetty @rcaudy
/gradle @devinrsmith @rcaudy
/gradle/libs.versions.toml @devinrsmith @rcaudy @cpwright
