<configuration debug="false">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%m%n</pattern>
    </encoder>
  </appender>

  <logger name="io.deephaven.grpc_api.example.ConsoleClient$RemoteStdout" level="INFO"/>
  <logger name="io.deephaven.grpc_api.example.ConsoleClient$RemoteStderr" level="INFO"/>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
