# test-oriented local docker compose file to run redpanda and apicurio for testing

version: "3.4"

services:
  redpanda:
    extends:
      file: ../redpanda-standalone/docker-compose.yml
      service: redpanda
    expose:
      - 29092

  registry:
    image: apicurio/apicurio-registry-mem:1.2.2.Final
    expose:
      - 8080
    environment:
      QUARKUS_PROFILE: prod
      KAFKA_BOOTSTRAP_SERVERS: redpanda:9092
      APPLICATION_ID: registry_id
      APPLICATION_SERVER: localhost:9000
