# Note: to ensure that new rules don't mask already committed files, run:
# git ls-files -i --exclude-standard
#
# TODO (deephaven-core#1114): Check valid .gitignore rules
.idea/
build/
buildTest/
out/
.gradle/
*.ipr
*.iws
*.iml
tmp/
target/
IRIS_GRADLE_VERSION
IRIS_VCS_VERSION
JAVA_VERSION
lib/external/
lib/thirdparty/
irisDb.history
*/out
.reviewboardrc
*.iml
.illumon.launcher.properties
Containers/dockers/packages*
Containers/dockers/third-party/*
**/.DS_Store
/test.*
/test
/Test*
/logs/*
.vscode
sphinx/build/

# Python
__pycache__/
*.pyc
py/venvs/
py/installs/
web/.cache
build/pipcache/
.programfiles/
workspaces/
devopsLocal/

jenkins/failures

node_modules
.java-version
