# This is a development-oriented local docker compose file, meant to link together the components of
# the Deephaven Community Core.
#
# There are some simplifying assumptions:
#
# 1. Docker is running locally and has access to filesystem bind mounts
# 2. The images are being built via ./gradlew prepareCompose
# 3. The user is running a non-production system, and does not want to deal with TLS
#
# Please see README.md with more details on how to get started.

version: "3.4"

services:
  grpc-api:
    extends:
      file: docker-compose-common.yml
      service: grpc-api

  web:
    extends:
      file: docker-compose-common.yml
      service: web

  # Should only be used for non-production deployments, see grpc-proxy/README.md for more info
  grpc-proxy:
    extends:
      file: docker-compose-common.yml
      service: grpc-proxy
    depends_on:
      grpc-api:
        condition: service_healthy

  envoy:
    # A reverse proxy configured for no SSL on localhost. It fronts the requests
    # for the static content and the websocket proxy.
    extends:
      file: docker-compose-common.yml
      service: envoy
    depends_on:
      grpc-api:
        condition: service_healthy
      grpc-proxy:
        condition: service_started
      web:
        condition: service_started

