version: "3.4"

services:
  server:
    image: ${DEEPHAVEN_SERVER_IMAGE}
    # For jprofiler, replace the line before this comment block with the line below:
    #build:
    #  context: ./jprofiler-server
    #  args:
    #    - DEEPHAVEN_SERVER_IMAGE=${DEEPHAVEN_SERVER_IMAGE}
    environment:
      # https://bugs.openjdk.java.net/browse/JDK-8230305
      # cgroups v2 resource reservations only work w/ java 15+ ATM, so it's best for our java processes to be explicit
      # with max memory.
      #
      # To turn on debug logging, add: -Dlogback.configurationFile=logback-debug.xml
      - JAVA_TOOL_OPTIONS=-Xmx4g -Ddeephaven.console.type=${DEEPHAVEN_CONSOLE_TYPE} -Ddeephaven.application.dir=${DEEPHAVEN_APPLICATION_DIR}
      #
      # For remote debugging switch the line above for the one below (and also change the ports below)
      # - JAVA_TOOL_OPTIONS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005 -Xmx4g -Ddeephaven.console.type=${DEEPHAVEN_CONSOLE_TYPE} -Ddeephaven.application.dir=${DEEPHAVEN_APPLICATION_DIR}
      #
      # To use ssl certificates, include -Dssl.* properties :
      # - JAVA_TOOL_OPTIONS=-Dssl.identity.type=privatekey -Dssl.identity.certChainPath=/path/to/tls.crt -Dssl.identity.privateKeyPath=/path/to/tls.key
      #
      # For mutual trust scenarios you may also need to specify trust certificates, or change -Doutbound.ssl.* properties
      # - JAVA_TOOL_OPTIONS=-Dssl.trust.type=certs -Dssl.trust.path=/path/to/ca.crt -Dssl.clientAuthentication=NEEDED
      #
      # To serve a particular host/port, use -Dhttp.* properties
      # - JAVA_TOOL_OPTIONS=-Dhttp.port=8080 -Dhttp.host=my.hostname.or.ip
      #
      # For jprofiler sessions (if you tweaked the jprofiler version in jprofiler-server/Dockerfile you need to tweak path)
      # - JAVA_TOOL_OPTIONS=-agentpath:/opt/jprofiler13.0/bin/linux-x64/libjprofilerti.so=port=8849,nowait -Xmx4g -Ddeephaven.console.type=${DEEPHAVEN_CONSOLE_TYPE} -Ddeephaven.application.dir=${DEEPHAVEN_APPLICATION_DIR}

    expose:
      - '8080'
# For remote debugging (change if using different port)
#    ports:
#      - '5005:5005'
# For jprofiler (change if using different port)
#    ports:
#      - '8849:8849'

    # Note: using old-style volume mounts, so that the directories get created if they don't exist
    # See https://docs.docker.com/storage/bind-mounts/#differences-between--v-and---mount-behavior
    volumes:
      - ./data:/data

    deploy:
      resources:
        limits:
          cpus: '4.0'

    # Allows the querying of this process jinfo/jmap
    # docker-compose exec server jmap -heap 1
    # docker-compose exec server jinfo 1
    #
    # Add NET_ADMIN to allow throttling network speeds
    # $ docker exec -it core_server_1 apt-get install iproute2
    # $ docker exec core_server_1 tc qdisc add dev eth0 root netem delay 10ms
    cap_add:
      - SYS_PTRACE

  web:
    image: deephaven/web:local-build
    expose:
      - "80"
    volumes:
      - ./data:/data
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 256M

  # Should only be used for non-production deployments, see grpc-proxy/README.md for more info
  grpc-proxy:
    image: deephaven/grpc-proxy:local-build
    environment:
      - BACKEND_ADDR=server:8080
    expose:
      - '8080'
#      - '8443' #unused
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 256M

  envoy:
    # A reverse proxy configured for no SSL on localhost. It fronts the requests
    # for the static content and the websocket proxy.
    image: deephaven/envoy:local-build
    ports:
      - "${DEEPHAVEN_PORT}:10000"
#      - '9090:9090' #envoy admin
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 256M
