<configuration debug="true">

  <!-- System.out / System.err may be redirected (and sent to LogBuffer).
      By referencing PrintStreamGlobalsConsole, we can be sure to avoid that potential redirection
      (which would cause double messages to the LogBuffer. -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- todo: we may want to drop the timestamp here and let the docker engine handle timestamps -->
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', UTC} | %green(%thread) | %highlight(%level) | %yellow(%logger) | %m%n</pattern>
    </encoder>
  </appender>

  <!-- individual package levels can be change -->
  <!--<logger name="io.netty" level="INFO"/>-->
  <!--<logger name="io.deephaven" level="INFO"/>-->

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
