<configuration debug="false">

  <!-- System.out / System.err may be redirected (and captured by LogBuffer).
       By referencing PrintStreamGlobalsConsole, we can be sure that we avoid that redirection so
       we don't double up messages to the LogBuffer. -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- todo: we may want to drop the timestamp here and let the docker engine handle timestamps -->
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', UTC} | %green(%-20.20thread) | %highlight(%5level) | %yellow(%-25.25logger{25}) | %m%n</pattern>
    </encoder>
  </appender>

  <!-- individual package levels can be change -->
  <!--<logger name="io.netty" level="INFO"/>-->
  <!--<logger name="io.deephaven" level="INFO"/>-->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
