<configuration debug="false">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <!-- System.out / System.err may be redirected (and captured by LogBuffer).
       By referencing PrintStreamGlobalsConsole, we can be sure that we avoid that redirection so
       we don't double up messages to the LogBuffer. -->
  <appender name="STDOUT" class="io.deephaven.logback.PrintStreamGlobalsConsole">
    <encoder>
      <!-- todo: we may want to drop the timestamp here and let the docker engine handle timestamps -->
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', UTC} | %green(%-20.20thread) | %highlight(%5level) | %yellow(%-25.25logger{25}) | %m%n</pattern>
    </encoder>
  </appender>

  <appender name="LOGBUFFER" class="io.deephaven.logback.LogBufferAppender">
    <encoder>
      <!-- LogBufferRecord has timestamp and level, so no need to encode -->
      <!-- todo: should we colorize output for LogBuffer? -->
      <pattern>%-20.20thread | %-25.25logger{25} | %m</pattern>
    </encoder>
  </appender>

  <!-- individual package levels can be change -->
  <!--<logger name="io.netty" level="INFO"/>-->
  <!--<logger name="io.deephaven" level="INFO"/>-->

  <root level="info">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="LOGBUFFER" />
  </root>
</configuration>
