adbc-driver-manager==1.6.0
adbc-driver-postgresql==1.6.0
connectorx==0.4.3; platform.machine == 'x86_64'
deephaven-plugin==0.6.0
docstring_parser==0.16
importlib_resources==6.5.2
java-utilities==0.3.0
jedi==0.19.1
jpy==1.1.0
llvmlite==0.44.0
numba==0.61.2
numpy==2.2.5
pandas==2.2.3
parso==0.8.4
pyarrow==20.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
typing_extensions==4.13.2
tzdata==2025.2
