java_home = '${javaHome}'
jvm_dll = None
jvm_maxmem = '${jvmMaxMem}'
jvm_classpath = ['${jvmClasspath}']
jvm_properties = {'PyObject.cleanup_on_thread': 'false'}
#jvm_options = ['-Djpy.debug=true']
jvm_options = []
