include *.txt
include *.xml
include doc/make.bat
include doc/Makefile
include lib/*.jar
recursive-include doc *.py
recursive-include doc *.rst
recursive-include src/main/c *.h
recursive-include src/main/c *.c
recursive-include src/main/java *.java
recursive-include src/test/java *.java
recursive-include src/test/python *.py

