# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.vscode
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.project
.settings/
.eslintcache
.stylelintcache
lerna-debug.log
Lerna-Profile-*.json

/public/vs

npm-debug.log*
yarn-debug.log*
yarn-error.log*

src/**/*.css

cypress/screenshots
cypress/videos
cypress.env.json

tsconfig.tsbuildinfo
