adbc-driver-manager==1.3.0
adbc-driver-postgresql==1.3.0
connectorx==0.4.0; platform.machine == 'x86_64'
deephaven-plugin==0.6.0
docstring_parser==0.16
importlib_resources==6.4.5
java-utilities==0.3.0
jedi==0.19.1
jpy==1.0.0
llvmlite==0.43.0
numba==0.60.0
numpy==2.0.2
pandas==2.2.3
parso==0.8.4
pyarrow==18.1.0
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
typing_extensions==4.12.2
tzdata==2024.2
