deephaven-plugin==0.3.0
java-utilities==0.2.0
jedi==0.18.2
jpy==0.13.0
llvmlite==0.39.1
numba==0.56.4
numpy==1.23.5
pandas==1.5.3
parso==0.8.3
pyarrow==11.0.0
python-dateutil==2.8.2
pytz==2022.7.1
six==1.16.0
