<configuration debug="false">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <!-- LogBuffer is a ring-buffer of recent log messages. It allows clients (such as the web console)
    to subscribe and display information. -->
  <appender name="LOGBUFFER" class="io.deephaven.logback.LogBufferAppender">
    <encoder>
      <!-- LogBufferRecord has timestamp and level, so no need to encode -->
      <!-- todo: should we colorize output for LogBuffer? -->
      <pattern>%-20.20thread | %-25.25logger{25} | %m</pattern>
    </encoder>
  </appender>

  <!-- individual package levels can be change -->
  <!--<logger name="io.netty" level="INFO"/>-->
  <!--<logger name="io.deephaven" level="INFO"/>-->

  <root level="info">
    <appender-ref ref="LOGBUFFER" />
  </root>
</configuration>
