<configuration debug="true">
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

  <!-- System.out / System.err may be redirected (and sent to LogBuffer).
      By referencing PrintStreamGlobalsConsole, we can be sure to avoid that potential redirection
      (which would cause double messages to the LogBuffer. -->
  <appender name="STDOUT" class="io.deephaven.logback.PrintStreamGlobalsConsole">
    <encoder>
      <!-- todo: we may want to drop the timestamp here and let the docker engine handle timestamps -->
      <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z', UTC} | %green(%thread) | %highlight(%level) | %yellow(%logger) | %m%n</pattern>
    </encoder>
  </appender>

  <!-- LogBuffer is a ring-buffer of recent log messages. It allows clients (such as the web console)
      to subscribe and display information. -->
  <appender name="LOGBUFFER" class="io.deephaven.logback.LogBufferAppender">
    <encoder>
      <!-- LogBufferRecord has timestamp and level, so no need to encode -->
      <!-- todo: should we colorize output for LogBuffer? -->
      <pattern>%thread | %logger | %m</pattern>
    </encoder>
  </appender>

  <!-- individual package levels can be change -->
  <!--<logger name="io.netty" level="INFO"/>-->
  <!--<logger name="io.deephaven" level="INFO"/>-->

  <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="LOGBUFFER" />
  </root>
</configuration>
