name: deephaven-docs-snapshots

services:
  extractor:
    image: ghcr.io/deephaven/salmon-extractor:pre
    pull_policy: always
    container_name: extractor
    volumes:
      - ../${SNAPSHOT_LANGUAGE:?error}:/extract
      - test-sets:/results # Output to a temporary build directory

  # Read the test sets from the results directory and run them against the test server, taking a snapshot of the results.
  snapshotter:
    image: ghcr.io/deephaven/salmon-snapshotter:pre
    pull_policy: always
    depends_on:
      extractor:
        condition: service_completed_successfully
    environment:
      DEEPHAVEN_SERVER_IMAGE: ${DEEPHAVEN_SERVER_IMAGE}
      HOST_URL: 'http://server:10000'
      RUN_ALL: ${RUN_ALL}
      DOCKER_CONFIG_DIR: ${DOCKER_CONFIG_DIR:?error}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock # Allows the snapshotter to start its own docker containers for the test server
      - test-sets:/test-sets
      # Pass through absolute path to docker config dir so docker-configs with relative volume mounts work
      # It seems Docker is resolving to an absolute path inside the container before it mounts the volume
      # The path is then relative to root and used as the host path which puts data not where we want it
      # This could also be addressed by using no binds in the docker-compose files
      - ${DOCKER_CONFIG_DIR}:${DOCKER_CONFIG_DIR}
      - ../${SNAPSHOT_LANGUAGE:?error}/snapshots:/results
      - ./errors/${SNAPSHOT_LANGUAGE}:/errors

volumes:
  test-sets:

# This network is set as external in the other compose files so the snapshotter and servers are run on the same network.
networks:
  default:
    name: deephaven-docs-snapshot-network
    driver: bridge