Keras-Preprocessing==1.1.2
Markdown==3.3.6
Werkzeug==2.0.3
absl-py==0.15.0
astunparse==1.6.3
cached-property==1.5.2
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.12
clang==5.0
click==8.0.4
flatbuffers==1.12
gast==0.4.0
google-auth-oauthlib==0.4.6
google-auth==1.35.0
google-pasta==0.2.0
grpcio==1.44.0
h5py==3.1.0
idna==3.3
keras==2.6.0
nltk==3.6.7
numpy==1.19.5
oauthlib==3.2.0
opt-einsum==3.3.0
protobuf==3.19.4
pyasn1-modules==0.2.8
pyasn1==0.4.8
regex==2022.1.18
requests-oauthlib==1.3.1
requests==2.27.1
rsa==4.8
scikit-learn==0.24.2
scipy==1.7.3
six==1.15.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.6.0
tensorflow-estimator==2.6.0
tensorflow==2.6.3
termcolor==1.1.0
threadpoolctl==3.1.0
torch==1.10.2
tqdm==4.63.0
typing-extensions==3.10.0.2
urllib3==1.26.8
wrapt==1.12.1
