services:
  deephaven:
    image: ghcr.io/deephaven/server-tensorflow:${VERSION:-latest}
    ports:
      - "${DEEPHAVEN_PORT:-10000}:10000"
      - 6006:6006
    volumes:
      - ./data:/data
    environment:
      - START_OPTS=-Xmx4g

  examples:
    image: ghcr.io/deephaven/examples:${VERSION:-latest}
    volumes:
      - ./data:/data
    command: initialize
