name: Label Check CI

on:
  pull_request:
    # The default pull_request trigger only happens on opened, synchronize, and reopened types.
    # We are adding labeled and unlabeled here, so that changes to labels will cause this action to
    # be re-run.
    #
    # Note: we need to rerun this action on new commits (synchronize events) even though it doesn't
    # effect the labels because the merge requirements need checks to pass against the most recent
    # commit.
    types: [ opened, synchronize, reopened, labeled, unlabeled ]
    branches: [ main ]

jobs:
  doc-labels:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Documentation Labels
        env:
          HAS_DocumentationNeeded: ${{ contains(github.event.pull_request.labels.*.name, 'DocumentationNeeded') }}
          HAS_NoDocumentationNeeded: ${{ contains(github.event.pull_request.labels.*.name, 'NoDocumentationNeeded') }}
        run: .github/scripts/check-doc-labels.sh

  releasenotes-labels:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Release Notes Labels
        env:
          HAS_ReleaseNotesNeeded: ${{ contains(github.event.pull_request.labels.*.name, 'ReleaseNotesNeeded') }}
          HAS_NoReleaseNotesNeeded: ${{ contains(github.event.pull_request.labels.*.name, 'NoReleaseNotesNeeded') }}
        run: .github/scripts/check-releasenotes-labels.sh
