name: Quick CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ 'main', 'check/**', 'release/v*' ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  quick:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check gitignore rules
        run: .github/scripts/check-gitignore-rules.sh

      - name: Setup JDK 11
        id: setup-java-11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Set JAVA_HOME
        run: echo "JAVA_HOME=${{ steps.setup-java-11.outputs.path }}" >> $GITHUB_ENV

      - name: Setup gradle properties
        run: |
          .github/scripts/gradle-properties.sh >> gradle.properties
          cat gradle.properties

      - name: Quick Task
        uses: burrunan/gradle-cache-action@v1
        with:
          job-id: quick-task
          # Even though quick includes spotlessCheck, we want to make sure it runs first and fails ASAP for quick feedback
          arguments: --scan spotlessCheck quick
          gradle-version: wrapper

      - name: Upload JVM Error Logs
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: quick-ci-jvm-err
          path: '**/*_pid*.log'
          if-no-files-found: ignore
